@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
/* these are the project colors, 
I just decided to do a full on copycat to
test my flexbox skills.













body-flex__container
     
body-flex__item__1 
    navbar-container
    
    
body-flex__item__2 
    hero-container
    
body-flex__item__3
     content-main-non-flex

        nested in flex item 300 italic content-main__flex-container
    
body-flex__item__4
     quote__box-container

body-flex__item__5
    cta-container
body-flex__item__6
     footer-container
     */
     
     .body-flex__container {
         margin-top: 0;
         display: flex;
         flex-direction: column;
         width: 100vw;
         align-items: center;
         background-color: #000;;
         
     }
     
     .body-flex__item__1,
     .body-flex__item__2,
     .body-flex__item__3,
     .body-flex__item__4,
     .body-flex__item__5,
     .body-flex__item__6 
     {
         /*border: red solid 3px; */
         padding: 1rem;
         width: 100%;
        
    
        
        
       
        /*this is height for all items*/
        }



    /* body-flex__item__1 
     body-flex__item__2
     body-flex__item__3
     body-flex__item__4
     body-flex__item__5 
        .body-flex__item__6*/
         
         
         
  /*alt names for body-flex__items
         navbar-container
         hero-container
         content-main-non-flex
         quote__box-container
         cta-container
         footer-container
            
         content-main__flex-container
         
     
          
        .
          
          
          */
        

          .navbar-container,
          .hero-container,
          .content-main-non-flex,
          .quote__box-container,
          .cta-container,
          .footer-container { background-color: pink;}



          /**styling for site sections- all main flex stuff above */

          
        .content-main-non-flex,
        .cta-container {
             background-color: #fff;;
         }


        .hero-container,
        .footer-container,
        .navbar-container {
            background-color: #1F2937;
         }

        /*non-grouped selectors from here down*/

         

          .navbar-container {
              display: flex; 
              flex-direction: row;
              justify-content: space-around;
              align-items: baseline;
           padding-bottom: 5rem;
        
                           
          } 

                .header-logo {
                    text-decoration: none;
                    font: 800 1.5rem 'Roboto', sans-serif;
                    color: #F9FAF8; 
                  
                  
                }

                
                .navbar-container ul:first-of-type
                { 
                    list-style: none;
                    display: flex; 
                    justify-content: flex-end;
                    color: #fff;
                    gap: 1.5rem;
                }
                .navbar-container li
                {
                 text-decoration: none; 
                }

                .header-link a:hover {
                    color: #3882F6; 
                }

                .header-link a:focus, 
                .header-link a:focus-visible,
                .header-link a:active {
                    color: #a8a8a8; 
                    outline: none;
                }
            
            
        .hero-container { 
            display: flex;
            justify-content: center;
             gap: 1rem;
             padding-top: 2rem;
             padding-bottom: 7rem;
        
                  
        }

            .hero-left__flex,
            .hero-right__flex {
               height: 15rem;
            
            
            }
          
            .hero-left__flex {
                display: flex;
                flex-direction: column;
                flex-basis: 33%;
                text-align: left;
            }

            .hero-main__text {
                 color: #F9FAF8;
                 margin: 0;
                 font: 900 3rem 'Roboto', sans-serif;
             }


                .hero-main__subtext { 
                color: #E5E7EB; 
                font: 400 1.125em 'Roboto', sans-serif;

            }
                .hero-button { 
                background-color:#3882F6;
                width: 7rem;
                height: 3rem;
            border-radius: 8px;
            text-align: center;
            font-weight: bold;
            font-size: 0.98rem;
            color: #fff;
    }

            .hero-right__flex {
                  flex-basis: 33%;
                  display: flex;
             
                color: white;
            }
            .hero-image {background-color: slategrey;
                flex-basis: 100%;
                width: 100%;
                display: flex;
              justify-content: center;
                align-items: center;
             
         
            }

          .info-header__text {
              text-align: center;
              font: 900 2.25rem 'Roboto', sans-serif;
              color: #1F2937;
          }

          .content-main__flex-container { 
              padding-top: 0.8rem;
              display: flex;
              justify-content: center;
              gap: 2rem;
              padding-bottom: 7rem;

          }

          .card {
               display: flex;
                flex-direction: column;
                gap: 0.85rem;

          }
           
          .card-text {
              text-align: center;
              color: #1F2937;
              width: 10rem;
          }

          .card-image-box { 
              outline: 5px solid #3882F6;
              border-radius: 15px;
              height: 10rem;
              z-index: 12;
            width: 10rem;

        }

        
    

        .quote__box-container {
            
            background-color: #E5E7EB;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
          
        }

         .quote {
             padding: 5rem 25%;
             font:300 italic 2.25rem 'Roboto', sans-serif;
             color: #1F2937; 
            align-self: center;
             
            }

         .author {
             font: 900 1.5rem 'Roboto', sans-serif;
             color: black;
             align-self: flex-end;
            
        
            }



            .cta-container { 
                 flex-basis: 150px;
            
         }
      /*inside cta background-color: #3882F6;  */
         
          .footer-container {
            }
     
         
        